body, html{
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
html{
    font-size: 1vw;
}
#mainScreen{
    display: inline-block;
    width: 80vw;
    height: 80vh;
    position: relative;
    background-color: cadetblue;
}
.sideBar{
    display: inline-block;
    width: 10vw;
    height: 70vh;
}
.tank{
    position: absolute;
    height: 10%;
    width: auto;
    transform-origin: (50%, 50%);
}
.cannonBall{
    height: 1%;
    width: 1%;
    position: absolute;
}
.tankSquare{
    height: 7%;
    width: 2.5%;
    position: absolute;
    transform-origin: ( 50%, 50% );
    background-color: forestgreen;
    left: 20%;
    top: 20%;
}
.tankGun{
    background-color: darkslategrey;
    height: 180%;
    width: 25%;
    position: absolute;
    top: -180%;
    left: 40%;

}
.tankTurret{
    width: 50%;
    height: 35%;
    transform-origin: (50%, 50%);
    position: absolute;
    left: 25%;
    top: 40%;
    background-color: darkslategrey;
}
#radarContainer{
    height: 125px;
    width: 125px;
    position: absolute;
    left: 87%;
    top: 7%;
    border-radius: 50%;
    background-color: green;
    z-index: 1000;
    opacity: 0.5;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(359deg)}
}
#sweeper{
    position: relative;
    border-radius: 20%;
    left: 49%;
    top: 50%;
    transform-origin: top center;
    height: 50%;
    width: 5px;
    background-color: rgb(0, 230, 0);
    opacity: 1;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
